= page_title(title: title) do
  - if broadcast
    = render("shared/new_resource_page_action", path: new_dashboard_broadcast_batch_operation_callout_population_path(broadcast))

.card-body
  = render("shared/resources_table", resource_class: BatchOperation::Base, columns: [:type, :status, :created_at], partial: "shared/batch_operation")
  = render("shared/pagination", resources: resources)
